<div class="container mt-5 mb-5">
  <h1 class="mt-5">Your listings</h1>
  <div class=" mt-4">
    <% @flats.each do |flat| %>
      <div class="d-flex mb-4 border-bottom pb-2", style="width: 50%;">
        <div>
          <%=link_to flat_path(flat) do  %>
            <% if flat.photo_url.present? %>
              <%= image_tag flat.photo_url, width: 400, height: 200 %>
            <% elsif flat.photos.present? %>
              <%= cl_image_tag flat.photos.last.key, crop: :fill, width: 400, height: 200 %>
          <% end %>
        </div>
        <div class="mt-2 mx-2" style="margin-right: 10px;">
          <p><strong><%= flat.name.capitalize %></strong></p>
          <h6><i class="fa-solid fa-location-dot"></i> <%= flat.city %> </h6>
          <p><strong>£<%= flat.price_per_night.round() %></strong> Per night</p>
          <p> ★ <%= rand(3..5) %>.0<em> ( <%= rand(5..25) %> Reviews )</em></p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
