#flat card

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @flat.name %></h5>
    <p class="card-text"><%= @flat.description %></p>
    <p class="card-text"><%= @flat.price_per_night%></p>
    <p class="card-text"><%= @flat.number_of_guests %></p>
    <p class="card-text"><%= @flat.location %></p>
  
  </div>