<div class="container mt-5">
    <div class="container-image-map d-flex">
        <%# <div id="carouselExampleControls" class="carousel slide d-flex justify-content-between" data-ride="carousel"> %>
          <div class="image w-100 m-4">
            <% if @flat.photo_url.present? %>
              <%= image_tag @flat.photo_url, height:400, crop: :fill, class: "card-img-top" %>
            <% else %>
              <img src="<%= @flat.photos.last.url %>" class="w-100" alt="Flat image">
            <% end %>
          </div>
          <div class="mt-4" style="width: 100%; height: 400px;"
              id ="map"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

        <%# </div> %>
    </div>

    <div class="container-info d-flex justify-content-between">
        <div class="container-descr">
            <div class="info m-2 p-2">
                <h2 class="caraousel-name"><%= @flat.name %></h2>
                <p class="caraousel-text">Number of guests: <%= @flat.number_of_guests %></p>
                <p class="caraousel-text">Location:<%= @flat.address%></p>
            </div>

            <div class="info m-2 p-2" data-controller="description">
                <h3>About this property</h3>
                <div id="descriptionCollapse">
                  <p>
                    <%= @flat.description.truncate(200) %>
                    <% if @flat.description.length > 200 %>
                      <span data-target="description.dots">...</span>
                      <span data-target="description.more" style="display: none;">
                        <%= @flat.description.slice(200..-1) %>
                      </span>
                      <button data-action="click->description#toggle" data-target="description.readMoreBtn" class="btn btn-link" style="text-decoration: none;">See more</button>
                    <% end %>
                  </p>
                </div>
              </div>
<%#
            <div class="info m-2 p-2 d-flex justify-content-between">
                <h4>About the host</h4>
              <% if @flat.user.email == "vincent@vincent.com" %>
                <%# <% image_url = "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1697808207/fococnbp64dtyybgvzec.jpg" %>
              <%# <% else %>
                <%# <% image_url = "https://kitt.lewagon.com/placeholder/users/cveneziani" %>
              <%# <% end %>
                <%# <img class="avatar" alt="avatar" src=<%= image_url %>
            <%# </div> %>

              <div class="info m-2 p-2 d-flex justify-content-between">
                  <%= render "shared/reviews" if current_user.present? %>
                </div>

            <div class="info m-2 p-2 d-flex justify-content-between">
              <h4>Contact host</h4>
              <a class="btn btn-flat w-10 m-2" href="mailto:host@example.com">Contact host</a>
            </div>

            <%# <div class="info m-3 p-2 d-flex justify-content-between">
              <%= render "shared/reviews" %>
            <%# </div> %>
        </div>

        <div class="container-booking mt-3">
            <div class=" p-4 my-3 sticky-top">
                  <h4 class="carousel-text">£<%= @flat.price_per_night.round() %><span style="font-size: 12px;"> per night</span></h4>
                  <%= form_with(model: [@flat, @booking]) do |f| %>

          <div class="mb-3">
            <%= f.label :start_date, "Start Date", class: "form-label" %>
            <%= f.date_field :start_date, class: "form-control", placeholder: "Select start date", data: { controller: "datepicker" } %>
          </div>

          <div class="mb-3">
            <%= f.label :end_date, "CHECKOUT", class: "form-label" %>
            <%= f.date_field :end_date, class: "form-control", placeholder: "Select end date", data: { controller: "datepicker" } %>
          </div>

          <div class="mb-3">
          <%= f.label :number_of_guests, "GUESTS", class: "form-label" %>
          <%= f.select :number_of_guests, (1..10), { prompt: "Select number of guests" }, class: "form-control" %>
        </div>

          <%= f.submit "Reserve", class: "btn btn-primary w-100 btn-rounded mt-2" %>
        <% end %>

            </div>
        </div>
</div>
