<div class="container mt-2">
    <div class="container-image-map d-flex">
        <%# <div id="carouselExampleControls" class="carousel slide d-flex justify-content-between" data-ride="carousel"> %>
          <div class="image w-100 m-2">
            <% if @flat.photo_url.present? %>
              <%= image_tag @flat.photo_url, height:500, crop: :fill, class: "card-img-top" %>
            <% else %>
              <img src="<%= @flat.photos.last.url %>" class="w-100" alt="Flat image">
            <% end %>
          </div>
          <div class="mt-2" style="width: 90%; height: 500px;"
              id ="map"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <%# </div> %>
    </div>

    <div class="container-info d-flex justify-content-between">
        <div class="container-descr">
            <div class="info m-2 p-2">
                <h2 class="caraousel-name"><%= @flat.name %></h2>
                <p class="caraousel-text">Maximum of guests: <%= @flat.number_of_guests %></p>
                <p class="caraousel-text">Location:<%= @flat.city%></p>
            </div>

                <div class="info m-2 p-2">
                  <h3>About this property</h3>
                    <div id="descriptionCollapse">
                      <p>
                      <%= @flat.description.truncate(200) %>
                <% if @flat.description.length > 200 %>
                    <span id="dots">...</span>
                    <span id="more" style="display: none;">
                        <%= @flat.description.slice(200..-1) %>
                    </span>
                    <button onclick="toggleDescription()" id="readMoreBtn" class="btn btn-link" style="text-decoration: none;">See more</button>
                <% end %>
            </p>
          </div>
        </div>
              <script>
                  function toggleDescription() {
                      var dots = document.getElementById("dots");
                      var moreText = document.getElementById("more");
                      var btnText = document.getElementById("readMoreBtn");

                      if (dots.style.display === "none") {
                          dots.style.display = "inline";
                          btnText.innerHTML = "Read more";
                          moreText.style.display = "none";
                      } else {
                          dots.style.display = "none";
                          btnText.innerHTML = "Read less";
                          moreText.style.display = "inline";
                      }
                  }
              </script>
        <div class="info m-2 p-2">
            <h4>Property specifications</h4>
              <ul>
                <li><strong>This hideway has:</strong> <%= @flat.address %></li>
              </ul>
        </div>

              <div class="info m-2 p-2 d-flex justify-content-between">
                  <%= render "shared/reviews" %>
                </div>

            <div class="info m-2 p-2 d-flex justify-content-between">
              <h4>Contact host</h4>
              <a class="btn btn-flat w-10 m-2" href="mailto:host@example.com">Contact host</a>
            </div>

        </div>

        <div class="container-booking mt-2">
            <div class=" p-4 my-3 sticky-top" style="max-height: 500px; max-width: 300px; padding-top: 20px;">
                  <h4 class="underline-price">£<%= @flat.price_per_night.round() %><span style="font-size: 12px;"> per night</span></h4>
                  <%= form_with(model: [@flat, @booking]) do |f| %>

          <div class="mb-2">
            <%= f.label :start_date, "CHECKIN", class: "form-label" %>
            <%= f.date_field :start_date, class: "form-control", placeholder: "Select start date", data: { controller: "datepicker" } %>
          </div>

          <div class="mb-2">
            <%= f.label :end_date, "CHECKOUT", class: "form-label" %>
            <%= f.date_field :end_date, class: "form-control", placeholder: "Select end date", data: { controller: "datepicker" } %>
          </div>

          <div class="mb-2">
          <%= f.label :number_of_guests, "GUESTS", class: "form-label" %>
          <%= f.select :number_of_guests, (1..10), { prompt: "Select number of guests" }, class: "form-control" %>
        </div>
          <%= f.submit "Reserve", class: "btn btn-primary w-100 btn-rounded mt-2" %>
        <% end %>
            </div>
        </div>
    </div>
                <%# <div class="bottom-buttons"> --->
                  <%= link_to '<i class="btn btn-outline-danger"> Delete </i>'.html_safe, flat_path(@flat), class: "delete-btn position-fixed-bottom", method: :delete, data: { controller: "sweetalert", action: 'click -> sweetalert#deleteAlert' } %>
                  <%# <%= link_to '<i class="btn btn-outline-success"> Edit </i>'.html_safe, flat_path(@flat), class: "edit-btn position-fixed-bottom", method: :delete, data: { controller: "sweetalert", action: 'click -> sweetalert#deleteAlert' } %>
                <%# <--- </div> %>

</div>
