<div class="container mt-5">
    <div class="container-image-map d-flex">
        <%# <div id="carouselExampleControls" class="carousel slide d-flex justify-content-between" data-ride="carousel"> %>
          <div class="image w-100 m-4">
            <% if @flat.photo_url.present? %>
              <%= image_tag @flat.photo_url, height:400, crop: :fill, class: "card-img-top" %>
            <% else %>
              <img src="<%= @flat.photos.last.url %>" class="w-100" style="height:400px; object-fit:cover;" alt="Flat image">
            <% end %>
          </div>
          <div class="mt-4" style="width: 100%; height: 400px;"
              id ="map"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

        <%# </div> %>
    </div>

    <div class="container-info d-flex justify-content-between">
        <div class="container-descr">
            <div class="info m-2 p-4">
                <h2 class="caraousel-name"><%= @flat.name %></h2>
                <p class="caraousel-text"><%= @flat.number_of_guests %> Guests</p>
                <p class="caraousel-text"><%= @flat.address%></p>
            </div>

            <div class="info m-2 p-4" data-controller="description">
                <h3>About this property</h3>
                <div id="descriptionCollapse">
                  <p>
                    <%= @flat.description %>

                  </p>
                </div>
              </div>
<%#
            <div class="info m-2 p-2 d-flex justify-content-between">
                <h4>About the host</h4>
              <% if @flat.user.email == "vincent@vincent.com" %>
                <%# <% image_url = "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1697808207/fococnbp64dtyybgvzec.jpg" %>
              <%# <% else %>
                <%# <% image_url = "https://kitt.lewagon.com/placeholder/users/cveneziani" %>
              <%# <% end %>
                <%# <img class="avatar" alt="avatar" src=<%= image_url %>
            <%# </div> %>
              <div class="info m-2 p-4 d-flex justify-content-between">
                <h4>Contact host</h4>
                <a class="btn btn-flat w-10 m-2" href="mailto:host@example.com">Contact host</a>
              </div>
              <div class="info m-2 p-4 d-flex justify-content-center flex-column">
                  <%= render "shared/reviews" if current_user.present? %>
                </div>



            <%# <div class="info m-3 p-2 d-flex justify-content-between">
              <%= render "shared/reviews" %>
            <%# </div> %>
        </div>

        <div class="d-flex align-items-center justify-content-center container-booking mt-2" style="height:550px;">
        <div>
          <h3 class="px-5">Book Now</h3>
            <div class="px-5 py-2 mb-3">
                  <h4 class="carousel-text">£<%= @flat.price_per_night.round() %><span style="font-size: 12px;"> per night</span></h4>
                  <%= form_with(model: [@flat, @booking]) do |f| %>

          <div class="mb-3">
            <%= f.label :start_date, "Check-in", class: "form-label" %>
            <%= f.date_field :start_date, class: "form-control", placeholder: "Select start date", data: { controller: "datepicker" } %>
          </div>

          <div class="mb-3">
            <%= f.label :end_date, "Check-out", class: "form-label" %>
            <%= f.date_field :end_date, class: "form-control", placeholder: "Select end date", data: { controller: "datepicker" } %>
          </div>

          <div class="mb-3">
          <%= f.label :number_of_guests, "Guests", class: "form-label" %>
          <%= f.select :number_of_guests, (1..10), { prompt: "Select number of guests" }, class: "form-control" %>
        </div>

          <%= f.submit "Reserve", class: "btn btn-primary w-100 btn-rounded mt-2" %>
        <% end %>
        </div>
            </div>
        </div>
</div>
