<div class="col-lg-3 col-md-6 mb-5 cards d-flex flex-column justify-content-between shadow" style="border-radius: 30px 30px 0 0;">
  <%= link_to flat_path(booking.flat) do %>
    <% if booking.flat.photo_url.present? %>
      <%= image_tag booking.flat.photo_url, class: "card-img-top" %>
    <% elsif booking.flat.photos.present? %>
      <%= cl_image_tag booking.flat.photos.last.key, crop: :fill, height: 200 %>
    <% end %>
  <% end %>
  <div>
    <h3 class="mt-3 text-center" style="font-size:100%;"><%= booking.flat.name.capitalize %></h3>
    <div class="mt-1 mb-2 px-3">
      <p class="d-flex justify-content-between"><span>Arrival:</span><span><%= booking.start_date %></span></p>
      <p class="d-flex justify-content-between"><span>Departure:</span><span><%= booking.end_date %></span></p>
    </div>
    <% if booking.paid %>
      <div class="d-flex justify-content-center align-items-center mb-3" style="width: 100%;">
        <p style="color: green; font-weight: 600; font-size: 25px;">Booking Paid</p>
      </div>
    <% elsif booking.accepted %>
      <%= render "booking_accepted", booking: booking %>
    <% else %>
      <div class="d-flex justify-content-center align-items-center mb-3" style="width: 100%;">
        <p style="color: orange; font-weight: 600; font-size: 25px;">Booking Pending</p>
      </div>
    <% end %>
  </div>
</div>
