
<div class="m-5 d-flex flex-wrap gap-5">
  <% @requests.each do |request| %>

    <div class=" col-lg-3 col-md-6 mb-5 cards d-flex flex-column justify-content-between shadow" style="border-radius:30px 30px 0 0;" data-controller="requests">
      <%= link_to flat_path(request.flat) do %>
          <% if request.flat.photo_url.present? %>
            <%= image_tag request.flat.photo_url, class: "card-img-top" %>
          <% elsif request.flat.photos.present? %>
            <%= cl_image_tag request.flat.photos.last.key, crop: :fill, height: 200 %>
          <% end %>
      <% end %>
      <div>
        <h3 class=" mt-3 text-center"><%= request.flat.name %></h3>
        <div class="mt-1 mb-2 px-3">
          <p class="d-flex justify-content-between"><span>Arrival:</span><span><%= request.start_date %></span></p>
          <p class="d-flex justify-content-between"><span>Departure:</span><span><%= request.end_date %></span></p>
        </div>
        <% if request.accepted %>
        <div class="d-flex justify-content-center align-items-center mb-3" style="width:100%; ">
          <p style="color:green; font-weight: 600; font-size:25px;">Booking Approved</p>
          </div>
        <% else %>
          <div class="d-flex justify-content-around align-items-center mb-3" style="width:100%; ">
            <form action="/bookings/<%=request.id%>" method="patch" data-turbo-form>
              <input type="hidden" name="request[accepted]" value="true">
              <input type="submit" value="Approve" class="btn btn-success" style="width: 140px;">
            </form>
            <p> or </p>
            <%= link_to "Delete", booking_path(request), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-danger", style:"width: 140px;"%>
          </div>


        <% end %>
      </div>
  </div>
  <% end %>

</div>
