<div class="row my-4">
  <% @flats.each do |flat|  %>
    <div class="col-lg-3 col-md-6 mb-5 cards d-flex flex-column justify-content-between">
      <%= link_to flat_path(flat) do %>
        <% if flat.photo_url.present? %>
          <%= image_tag flat.photo_url, class: "card-img-top" %>
        <% else %>
          <%= cl_image_tag flat.photos.last.key, class: "card-img-top" %>
        <% end %>
      <% end %>
      <div class="">
        <p class="mt-3"><%= flat.name %></p>
        <p>⭐️⭐️⭐️⭐️☆ 4.0</p>
        <h6><i class="fa-solid fa-location-dot"></i> <%= flat.city %> </h6>
        <p><strong>￡<%= flat.price_per_night.round() %></strong> night</p>
      </div>
    </div>
  <% end %>
</div>
