<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" style="background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(8px);">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-tree-city"></i>
    <% end %>
    <a class="navbar-brand" href="<%= root_path %>"> Hide n Seek</a>

    <!-- Centered Search Bar -->
    <div class="nav-links mx-auto d-flex">
      <% if user_signed_in? %>
        <%= link_to 'Home', root_path, class:'mx-5' %>
        <%= link_to 'Bookings', my_bookings_path, class:'mx-5' %>
        <% user_is_host = current_user.owned_flats.any? %>
        <% if user_is_host %>
          <% requests_number  = Booking.joins(:flat).where(accepted: false).where(flats: { user_id: current_user.id }).count %>
          <% notification = requests_number.positive? ? requests_number : "" %>
          <%= link_to 'My Listings', my_requests_path, class:'mx-5' %>
          <%= link_to my_requests_path, class:'mx-5' do %>
             <%= 'Requests'  %>
            <span class='badge bg-danger rounded'><%= notification %></span>
          <% end %>
        <% end %>
      <% else %>
        <div class="mx-auto">
      <%= link_to 'Home', root_path %>
    </div>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to raw('<i class="fa-solid fa-plus"></i> Become a Host'), new_flat_path, class: "btn btn-success" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= asset_path('profile_pic.png') %>" class="avatar mx-2" alt="dropdown menu">
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to raw('<i class="fa-solid fa-user"></i> Profile'), "#", class: "dropdown-item" %>
              <%= link_to raw('<i class="fa-solid fa-star"></i> Favourites'), "#", class: "dropdown-item" %>
              <%= link_to raw('<i class="fa-solid fa-gear"></i> Settings'), "#", class: "dropdown-item" %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fa-solid fa-right-from-bracket"></i> Log Out
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
