<div class="container mt-5">

  <div class="d-flex justify-content-between">

    <div class="list" style="width:600px;">
        <h1>Properties in <%= @query %> </h1>
        <div class='my-4'>
          <%= render "shared/search_bar" %>
        </div>
      <% if @message.present? %>
        <div class="container my-5 text-center" id="result">
          <h4><%= @message %></h4>
        </div>
      <% else %>
        <% @flats.each do |flat| %>
          <div class="card-product mb-3">
            <%= link_to flat_path(flat) do %>
              <% if flat.photo_url.present? %>
                <%= image_tag flat.photo_url %>
              <% else %>
                <%= cl_image_tag flat.photos.last.key %>
              <% end %>
            <% end %>
            <div class="card-product-infos ">
              <div class="d-flex justify-content-between">
                <div>
                  <%= link_to flat_path(flat) do %>
                    <h2><%= flat.name %></h2>
                  <% end %>
                  <h6><i class="fa-solid fa-location-dot mt-1"></i> <%= flat.city %> </h6>
                </div>
              </div>
            <div>
                <p> ★ <%= rand(3..5) %>.0</p>
                <p><strong>￡<%= flat.price_per_night.round() %></strong> night</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div style="width: 50%; height: 800px; margin-top:75px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
