<!DOCTYPE html>
<html>
  <head>
    <title>HideAndSeekAirbnbClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo1.png') %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>
    <div class = "d-flex flex-column justify-content-between" style="min-height:100vh;">
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
    <%# <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> %>
  </body>

</html>
